<div class="container">
  <header>
    <h1 class="text-muted">NorthWind Database</h1>
  </header>

  <div class="input-group">
    <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button (click)="onClick($event)" class="btn btn-success" type="button">Search</button>
    </span>
  </div>

  <router-outlet></router-outlet>

  <!--<ul>
    <li *ngFor="let searchResults1 of searchResults">{{searchResults1.first_Name}}</li>
  </ul>-->

</div>

<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted">Northwind</p>
  </div>
</footer>
