<!-- items being paged -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Products Sold</th>
      <th>Refers To</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pagedItems">
      <td>{{item.first_Name}}</td>
      <td>{{item.last_Name}}</td>
      <td>{{item.title}}</td>
      <td>{{item.prodSold}}</td>
      <td>{{item.refTo}}</td>
    </tr>
  </tbody>
</table>
<!-- pager -->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
    <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>
