<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="NorthwindConnectionString"
      connectionString="Data Source=DESKTOP-I8IMG01\SQLEXPRESS;
      Initial Catalog=Northwind;Integrated Security=True;
      Persist Security Info=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>


  
</configuration>
